# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Datos de usuarios
/datos

# Archivos no necesarios
/.ccls-cache

# Visual Studio Code
/.vscode

# Cosas innecesarias